# Market Basket Analysis

This is my market basket analysis project on a Indian E-Commerce dataset. This project identifies hidden trends in customer purchasing behavior by analyzing what products are frequently bought together in a E-Commerce's transaction. Market basket analysis is one of the data analysis techniques that aims to identify frequently occurring itemsets or combinations of products to understand customer buying habits.

You can get the dataset also on [Kaggle E-Commerce Dataset](https://www.kaggle.com/datasets/benroshan/ecommerce-data)!

In [57]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

## Load Dataset

In [58]:
df = pd.read_csv('Dataset/Order Details.csv')
df

     Order ID  Amount  Profit  Quantity     Category      Sub-Category
0     B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1     B-25601    66.0   -12.0         5     Clothing             Stole
2     B-25601     8.0    -2.0         3     Clothing       Hankerchief
3     B-25601    80.0   -56.0         4  Electronics  Electronic Games
4     B-25602   168.0  -111.0         2  Electronics            Phones
...       ...     ...     ...       ...          ...               ...
1495  B-26099   835.0   267.0         5  Electronics            Phones
1496  B-26099  2366.0   552.0         5     Clothing          Trousers
1497  B-26100   828.0   230.0         2    Furniture            Chairs
1498  B-26100    34.0    10.0         2     Clothing           T-shirt
1499  B-26100    72.0    16.0         2     Clothing             Shirt

[1500 rows x 6 columns]

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   float64
 2   Profit        1500 non-null   float64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 70.4+ KB

In [60]:
df.describe()

            Amount       Profit     Quantity
count  1500.000000  1500.000000  1500.000000
mean    287.668000    15.970000     3.743333
std     461.050488   169.140565     2.184942
min       4.000000 -1981.000000     1.000000
25%      45.000000    -9.250000     2.000000
50%     118.000000     9.000000     3.000000
75%     322.000000    38.000000     5.000000
max    5729.000000  1698.000000    14.000000

In [61]:
df['Sub-Category'].value_counts()

Sub-Category
Saree               210
Hankerchief         198
Stole               192
Phones               83
Bookcases            79
Electronic Games     79
T-shirt              77
Printers             74
Chairs               74
Furnishings          73
Accessories          72
Shirt                69
Skirt                64
Leggings             53
Kurti                47
Trousers             39
Tables               17
Name: count, dtype: int64

## Create Basket

In [69]:
basket_df = df.groupby('Order ID')['Sub-Category'].agg(set).reset_index()
basket_df['Sub-Category'] = basket_df['Sub-Category'].apply(lambda x: '|'.join(x))
basket_df = basket_df['Sub-Category'].str.get_dummies('|').astype('bool')
basket_df

,Accessories,Bookcases,Chairs,Electronic Games,Furnishings,Hankerchief,Kurti,Leggings,Phones,Printers,Saree,Shirt,Skirt,Stole,T-shirt,Tables,Trousers
0,False,True,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False
2,False,False,True,False,False,True,True,False,False,False,True,False,False,True,False,False,True
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,True,False,False,False,False,False,False,True,True,False,True,True,False,False,False,False,True
496,False,False,True,True,False,True,False,True,False,True,False,False,False,False,False,False,False
497,True,False,True,False,False,False,False,True,False,False,True,False,True,False,True,False,False
498,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,True
499,False,False,True,False,False,False,False,False,False,False,False,True,False,False,True,False,False

## Create Frequent Itemsets

In [82]:
frequent_itemsets = apriori(basket_df,min_support=0.01,use_colnames=True).sort_values('support',ascending=False).reset_index(drop=True)
frequent_itemsets

     support                                itemsets
0      0.314                                 (Stole)
1      0.312                                 (Saree)
2      0.276                           (Hankerchief)
3      0.146                      (Electronic Games)
4      0.144                             (Bookcases)
..       ...                                     ...
329    0.010                     (T-shirt, Trousers)
330    0.010  (Electronic Games, Stole, Accessories)
331    0.010    (Hankerchief, Leggings, Accessories)
332    0.010          (Hankerchief, Leggings, Shirt)
333    0.010                  (Phones, Saree, Kurti)

[334 rows x 2 columns]

## Association Rules

In [83]:
product_assosiation = association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7).sort_values(['support','confidence']).reset_index(drop=True)
product_assosiation

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(Stole, Printers, Shirt)",(Saree),0.014,0.312,0.010,0.714286,2.289377,0.005632,2.408000,0.571197
1,"(Printers, T-shirt, Saree)",(Stole),0.014,0.314,0.010,0.714286,2.274795,0.005604,2.401000,0.568357
2,"(Chairs, Bookcases, Saree)",(Stole),0.014,0.314,0.010,0.714286,2.274795,0.005604,2.401000,0.568357
3,"(Hankerchief, Printers, Electronic Games)",(Stole),0.014,0.314,0.010,0.714286,2.274795,0.005604,2.401000,0.568357
4,"(Printers, T-shirt, Saree)",(Bookcases),0.014,0.144,0.010,0.714286,4.960317,0.007984,2.996000,0.809736
5,"(Stole, Printers, Bookcases)",(T-shirt),0.014,0.140,0.010,0.714286,5.102041,0.008040,3.010000,0.815416
6,"(Hankerchief, Shirt, Accessories)",(Stole),0.014,0.314,0.010,0.714286,2.274795,0.005604,2.401000,0.568357
7,"(Stole, Furnishings, Shirt)",(Hankerchief),0.014,0.276,0.010,0.714286,2.587992,0.006136,2.534000,0.622312
8,"(Hankerchief, Furnishings, Shirt)",(Stole),0.014,0.314,0.010,0.714286,2.274795,0.005604,2.401000,0.568357
9,"(Hankerchief, Shirt, Accessories)",(Saree),0.014,0.312,0.010,0.714286,2.289377,0.005632,2.408000,0.571197
10,"(Electronic Games, Printers, Saree)",(Stole),0.014,0.314,0.010,0.714286,2.274795,0.005604,2.401000,0.568357
11,"(Accessories, Kurti)",(Stole),0.014,0.314,0.010,0.714286,2.274795,0.005604,2.401000,0.568357
12,"(Skirt, Leggings)",(Saree),0.014,0.312,0.010,0.714286,2.289377,0.005632,2.408000,0.571197
13,"(Stole, Phones, Shirt)",(Saree),0.012,0.312,0.010,0.833333,2.670940,0.006256,4.128000,0.633198
14,"(Stole, Leggings, T-shirt)",(Saree),0.012,0.312,0.010,0.833333,2.670940,0.006256,4.128000,0.633198
15,"(Stole, Printers, Furnishings)",(Saree),0.012,0.312,0.010,0.833333,2.670940,0.006256,4.128000,0.633198
16,"(Printers, Furnishings, Saree)",(Stole),0.012,0.314,0.010,0.833333,2.653928,0.006232,4.116000,0.630769
17,"(Printers, T-shirt, Accessories)",(Stole),0.012,0.314,0.010,0.833333,2.653928,0.006232,4.116000,0.630769
18,"(Hankerchief, Bookcases, T-shirt)",(Printers),0.012,0.134,0.010,0.833333,6.218905,0.008392,5.196000,0.849393
19,"(Hankerchief, Electronic Games, Accessories)",(Stole),0.012,0.314,0.010,0.833333,2.653928,0.006232,4.116000,0.630769
20,"(Electronic Games, Stole, Shirt)",(Saree),0.012,0.312,0.010,0.833333,2.670940,0.006256,4.128000,0.633198
21,"(Furnishings, Kurti)",(Hankerchief),0.012,0.276,0.010,0.833333,3.019324,0.006688,4.344000,0.676923
22,"(Printers, Saree, Shirt)",(Stole),0.010,0.314,0.010,1.000000,3.184713,0.006860,inf,0.692929
23,"(Hankerchief, T-shirt, Accessories)",(Stole),0.010,0.314,0.010,1.000000,3.184713,0.006860,inf,0.692929
24,"(Stole, Electronic Games, Accessories)",(Hankerchief),0.010,0.276,0.010,1.000000,3.623188,0.007240,inf,0.731313
25,"(Stole, Bookcases, Electronic Games)",(Hankerchief),0.010,0.276,0.010,1.000000,3.623188,0.007240,inf,0.731313
26,"(Stole, Bookcases, Accessories)",(Hankerchief),0.016,0.276,0.012,0.750000,2.717391,0.007584,2.896000,0.642276
27,"(Chairs, Accessories)",(Saree),0.016,0.312,0.012,0.750000,2.403846,0.007008,2.752000,0.593496
28,"(Printers, Saree, Accessories)",(Stole),0.016,0.314,0.012,0.750000,2.388535,0.006976,2.744000,0.590786
29,"(Stole, Phones, Hankerchief)",(Accessories),0.016,0.130,0.012,0.750000,5.769231,0.009920,3.480000,0.840108
30,"(Stole, Phones, Accessories)",(Hankerchief),0.016,0.276,0.012,0.750000,2.717391,0.007584,2.896000,0.642276
31,"(Hankerchief, Phones, Accessories)",(Stole),0.016,0.314,0.012,0.750000,2.388535,0.006976,2.744000,0.590786
32,"(Stole, T-shirt, Accessories)",(Saree),0.016,0.312,0.012,0.750000,2.403846,0.007008,2.752000,0.593496
33,"(T-shirt, Saree, Accessories)",(Stole),0.016,0.314,0.012,0.750000,2.388535,0.006976,2.744000,0.590786
34,"(Skirt, Bookcases)",(Saree),0.016,0.312,0.012,0.750000,2.403846,0.007008,2.752000,0.593496
35,"(Shirt, T-shirt, Saree)",(Stole),0.014,0.314,0.012,0.857143,2.729754,0.007604,4.802000,0.642664
36,"(Stole, Furnishings, Shirt)",(Saree),0.014,0.312,0.012,0.857143,2.747253,0.007632,4.816000,0.645030
37,"(Furnishings, Saree, Shirt)",(Stole),0.014,0.314,0.012,0.857143,2.729754,0.007604,4.802000,0.642664
38,"(Saree, Shirt, Accessories)",(Stole),0.020,0.314,0.014,0.700000,2.229299,0.007720,2.286667,0.562682
39,"(Hankerchief, Furnishings, Saree)",(Stole),0.020,0.314,0.014,0.700000,2.229299,0.007720,2.286667,0.562682
40,"(Hankerchief, Printers, Bookcases)",(Saree),0.020,0.312,0.014,0.700000,2.243590,0.007760,2.293333,0.565598
41,"(Printers, Shirt)",(Stole),0.020,0.314,0.014,0.700000,2.229299,0.007720,2.286667,0.562682
42,"(Hankerchief, Saree, Shirt)",(Stole),0.020,0.314,0.014,0.700000,2.229299,0.007720,2.286667,0.562682
43,"(Chairs, Trousers)",(Saree),0.020,0.312,0.014,0.700000,2.243590,0.007760,2.293333,0.565598
44,"(Electronic Games, T-shirt)",(Stole),0.018,0.314,0.014,0.777778,2.476999,0.008348,3.087000,0.607216
45,"(Printers, Bookcases, Saree)",(Hankerchief),0.018,0.276,0.014,0.777778,2.818035,0.009032,3.258000,0.656968
46,"(Stole, Shirt, Accessories)",(Saree),0.016,0.312,0.014,0.875000,2.804487,0.009008,5.504000,0.653891
47,"(Leggings, T-shirt)",(Saree),0.022,0.312,0.016,0.727273,2.331002,0.009136,2.522667,0.583845
48,"(Skirt, Accessories)",(Saree),0.022,0.312,0.016,0.727273,2.331002,0.009136,2.522667,0.583845
49,"(Chairs, Skirt)",(Saree),0.024,0.312,0.018,0.750000,2.403846,0.010512,2.752000,0.598361
50,"(T-shirt, Shirt)",(Stole),0.022,0.314,0.018,0.818182,2.605675,0.011092,3.773000,0.630084
51,"(Shirt, Accessories)",(Saree),0.028,0.312,0.020,0.714286,2.289377,0.011264,2.408000,0.579424
52,"(Electronic Games, Bookcases)",(Hankerchief),0.028,0.276,0.020,0.714286,2.587992,0.012272,2.534000,0.631276